:root {
  --gaipa-color-1: orange;
  --gaipa-color-2: rgb(90,90,90,255);;
  --primary-color: green;
  --accent-color: grey;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.error {
  color: red;
}

#status-bar{
  padding: 1.5em;
}

// Circle in the Homepage

h2.home-header {
    -webkit-text-fill-color: var(--gaipa-color-2);
    font-size: xx-large;
    margin-top: 5px;
    margin-left: 5px;
}

@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top:  50%;
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -($item-size / 2);

    $angle: (360 / $item-count);
    $rot: 270;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform:
          rotate($rot * 1deg)
          translate($circle-size / 2)
          rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

.circle-container {
  @include on-circle($item-count: 10, $circle-size: 20em, $item-size: 5em);


  img.img-element {
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    border: solid 0px;
    transition: .15s;

    filter: invert(70%);

  }
}

.circle-color {
    border-radius: 50%;
    position: fixed;
    background-color: var(--gaipa-color-1);
    width: 70px;
    height: 70px;
}

.circle-title {
  font-size: small;
  bottom: 5px;
  /* left: 15px; */
  text-align: center;
  font-weight: bold;
  position: relative;
  -webkit-text-fill-color: var(--gaipa-color-2);
}

img.home-background {

    width: 180px;
    height: 180px;
    filter: invert(10%);
    -webkit-animation:spin 80s linear infinite;
    -moz-animation:spin 80s linear infinite;
    animation:spin 80s linear infinite;

}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



.circle-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    bottom: 60px;
    left: 0px;
    right: 0px;
}

img.farmers {
    position: absolute;
    width: 170px;
    height: 170px;
    filter: invert(40%);
}

// Navigation Bar
img.nav-img-element {
    max-height: -webkit-fill-available;
    padding: 7px;
    margin: auto;
    position: absolute;
}

.nav-bar-element-container {
    /* display: block; */
    height: -webkit-fill-available;
}
span.nav-title-element {
    bottom: 4px;
    vertical-align: text-top;
    position: relative;
}

//Add padding to the bottom of the main content (Hidden by footer)

section#content {
    padding-bottom: 60px;
}

//Footer Nav Bar
footer {
    overflow: hidden;
    position: fixed;
    margin-bottom: -3px;
    bottom: 0;
    width: 100%;
    height: 60px;
}



img.navbarImage {
    vertical-align: middle;
    width: 40px;
}

 li.navBarElement {
      width: 70px;
      line-height: 55px;
      text-align: center;
      display: block;
      float: left;
}


//Header
img.cardHeaderImage{
  margin-top: 10px;
  width: 40px;
  height: 40px;
  filter: invert(100%);

}

span.cardHeaderTitle {
    padding-right: 10px;
    font-size: xx-large;
}
span.cardHeaderDescription {
    font-size: smaller;
}
hr.cardHeaderLine {
    margin-bottom: 20px;
}




//CardAssitant view

.card-header {
    padding: 5px;
    display: inline-flex;
    max-height: 100px;
}

.card-header span {
    align-self: baseline;
    padding: 5px;
}

.img-card-header {
    padding-left: 5px;
    filter: invert(90%);
    height: -webkit-fill-available;
}

.card .card-content {
    background-color: #ffb74d;
    padding: 24px;
    border-radius: 0 0 2px 2px;
}

//Login screen

.loginContent {
    padding-top: 20px;
}


.loginCard .card-content {
    background: #eeeeee;
}

label#loginLabel {
    color: darkslategray;
}

input#loginInputUser {

    text-indent: 10px;
}
input#loginInputPassword {

    text-indent: 10px;
}

button#loginButton {
  color: white !important;
    background-color: #f7a500 !important;
    font-size: large;
    height: 80px;
    width: 100%;
}

img.loginImage {
  width: 40%;
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
  margin-top: -40px;
}
div#noAccount {
    padding-top: 20px;
}


button#registerButton {
    margin-top: 5px;
    width: 100%;
    background-color: #9bbe4c;
}


// BREADCRUMB FOR SOLUTION ARTICLES

nav.breadcrumbBar {
    margin-top: 10px;
    background-color: #cdc279;
}

a.breadcrumb {
    font-size: initial;
    font-weight: bold;
}

#breadcrumb-bar{
  padding-left: 10px;

}
.breadcrumb:last-child {

  font-size: auto;
}
.breadcrumb::before{
  color: #aeaeae;
  font-size: auto;
}

// Title and desciption for Solution Articles
h1.solutionChapterTitle {
    font-size: x-large;
}

p.solutionChapterText {
    text-align: justify;
}

img.image-inline {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.image-right {
      max-width: 50%;
      float: right;
      margin-left: 10px;
}

.image-left{
  max-width: 50%;
  float: left;
  margin-right: 10px;
}

button.solutionChapterButton.au-target.btn.accent {
    margin-top: 10px;
    width: 100%;
}

.solutionArticleHeader {
    font-size: xx-large;
}

md-collection-item.au-target.collection-item {
    font-size: smaller;
}



.collection .collection-item{
  padding: 10px 10px;
  h2{
    display: inline;
    font-size: 1.6em;
    margin: 0;
    margin-left: 10px;
    vertical-align: middle;
  }
  a {
    color: #000000;
  }
  i{
    display: inline;
    font-size: 2.4em;
    vertical-align: middle;
  }
}

.primaryHeadLine {
  font-weight: 600;
}

.primaryDescription {
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .chapter #content-core {
    img{ max-width: 100%; height: auto; }
  }
  .image-right{
    float: none;
    margin: .5em 0;
  }

  .image-left{
    float: none;
    margin: .5em 0;
  }




}
